@{ 
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoBork - Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <nav class="navbar navbar-light">
        <div class="nav-container">
            <a class="navbar-brand">NoBork</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="main">
        <div id="types">
            <div class="one-type" id="start-blender"><p><a href="/Blender/" class="to-type">Blenders</a></p></div>
            <div class="one-type" id="start-grill"><p><a href="/Grill/" class="to-type">Grills</a></p></div>
            <div class="one-type" id="start-juicer"><p><a href="/Juicers/" class="to-type">Juicers</a></p></div>
            <div class="one-type" id="start-coffee-machine"><p><a href="/CoffeeMachine/" class="to-type">Coffee machines</a></p></div>
            <div class="one-type" id="start-microwave"><p><a href="/Microwave/" class="to-type">Microwaves</a></p></div>
            <div class="one-type" id="start-mixers"><p><a href="/Mixers/" class="to-type">Mixers</a></p></div>
            <div class="one-type" id="start-meat-grinder"><p><a href="/MeatGrinders/" class="to-type">Meat grinders</a></p></div>
            <div class="one-type" id="start-scales"><p><a href="/Scales/" class="to-type">Scales</a></p></div>
            <div class="one-type" id="start-slow-cooker"><p><a href="/SlowCooker/" class="to-type">Slow cookers</a></p></div>
            <div class="one-type" id="start-toasters"><p><a href="/Toaster/" class="to-type">Toasters</a></p></div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>